.filters {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}

button:hover {
    opacity: 0.9;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    margin-left: 5%;
    float: left;
    color: black;
}

.locations h3 {
    font-weight: 600;
    margin-bottom: 0px;
}

.locations h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
}

.amenities {
    color: black;
    float: left;
    margin-left: 5%;
}
.amenities h3 {
    font-weight: 600;
    margin-bottom: 0px;
}
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
}
ul {
  list-style:none;
}

.popover {
  margin-top: 0px;
  background-color: #FAFAFA;
  position: relative;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  display:none;
  padding-top: 5%;
  padding-bottom: 5%;
}

.locations:hover .popover{
  display: block;
}

.amenities:hover .popover{
  display: block;
}

.popover h2 {
  margin: 0;
  padding: 0;
}

.popover ul {
  padding-bottom: 5%;
}
